.team-members {
  margin: 0 0 var(--space-6);
  font-size: 1.5rem;
  font-weight: 400;
  background: -webkit-linear-gradient(left, #ff9e00 0%, red 10%, #b5007d 20%, #21429c 40%, #0071ff 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.member-img{
  width: 70px; 
  height: 70px; 
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 1rem;
  object-fit: cover;
  box-shadow: 0 0.25rem 0.9375rem rgba(0,0,0,0.15);
  border: 0.1rem solid rgb(203, 193, 193);
  background: #fff;
}

.members-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
}

.member-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  min-height: 5rem;
  border-radius: 6px;
}

.member-card:last-child {
    margin-bottom: 2rem;
}

.member-info {
  display: flex;
  flex-direction: column;
}

.member-name {
  font-weight: 600;
  color: #222;
  margin: 0;
}

.member-email {
  font-size: 0.9rem;
  text-decoration: none;
  word-break: break-all;
  color:#2d364d
}

.member-email:hover {
  text-decoration: underline;
}


.members-list {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 5px;
}

.owner-label {
  font-size: 0.85rem;
  margin-top: 0.2rem;
  font-weight: 450;
}


